$slidingTabsHeight: 48px !default;
$tabIndicatorWrapperColor: rgba(255,255,255,.2) !default;
$tabIndicatorColor: #fff !default;
$activeTabColor: $bar-positive-bg !default;
$normalTabColor: $bar-positive-bg !default;
$activeTabTextColor: #fff !default;
$normalTabTextColor: rgba(255,255,255,.6) !default;
$tabTextSize: 11px !default;
$tabTextTransform: uppercase !default;
$tabTextFontWeight: 300 !default;

ion-slide {
  background-color: #f0f0f0;

  &:nth-child(2n) {
    background-color: #fff;
  }
}

.slider {
  position: absolute;
  top: $slidingTabsHeight;
  bottom: 0;
  left: 0;
  right: 0;
}


.slidingTabs {
  height: $slidingTabsHeight;

  .scroll {
    height: auto;
    min-width: 100%;
  }

  z-index: 10;

  ul {
    background-color: $normalTabColor;
    height: $slidingTabsHeight;

    li {
      height: $slidingTabsHeight;
      line-height: $slidingTabsHeight;
      text-align: center;
      float: left;
      margin: 0;
      padding: 0 12px 20px 12px;
      font-size: $tabTextSize;
      font-weight: $tabTextFontWeight;
      text-transform: $tabTextTransform;
      color: $normalTabTextColor;
      @include transition(color .25s ease-in-out);
      position: relative;
      overflow: hidden;

      &.tab-active {
        color: $activeTabTextColor;
        background-color: $activeTabColor;
      }

      .ink {
        display: block; position: absolute;
        background: rgba(56, 147, 245,.8);
        border-radius: 100%;
        transform: scale(0);
      }

      .ink.animate {
        @include animation(ripple 0.65s linear);
      }

    }
  }

  .tab-indicator-wrapper {
    width: 100%;
    height: 4px;
    background-color: $tabIndicatorWrapperColor;
    -webkit-transform: translateY(-4px);
    position: absolute;

    .tab-indicator {
      height: 100%;

      background-color: $tabIndicatorColor;
      width: 70px;
      position: relative;
    }
  }

}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}